
%ul(class="breadcrumb")
  %li
    %a(href="manager_logined")
      首页
  %li(class="active")
    添加用户
=form_for(@user,:url => 'add_user') do |u|
  .form-group(style="width:600px;padding:50px 50px 20px 50px;width:50% ;margin:auto auto")
    %h4
      添加用户
  .input-group(style="margin:auto" )
    =u.label :'帐号',:class =>'input-group-addon text-center',:style =>'width:120px'
    =u.text_field :name,:class =>'form-control',:style =>'width:450px'
  .input-group(style="margin:20px auto auto auto" )
    =u.label :'请设置密码',:class =>'input-group-addon text-center',:style =>'width:120px'
    =u.text_field :password,:type =>'password',:class =>'form-control',:style =>'width:450px'
  .input-group(style="margin:20px auto auto auto" )
    =u.label :'请确认密码',:class =>'input-group-addon text-center',:style =>'width:120px'
    =u.text_field :password_confirmation,:type =>'password',:class =>'form-control',:style =>'width:450px'
  .input-group(style="margin:20px auto auto auto" )
    =u.label :'忘记密码问题',:class =>'input-group-addon text-center',:style =>'width:120px'
    =u.text_field :question,:class =>'form-control',:style =>'width:450px'
  .input-group(style="margin:20px auto auto auto" )
    =u.label :'忘记密码答案',:class =>'input-group-addon text-center',:style =>'width:120px'
    =u.text_field :answer,:class =>'form-control',:style =>'width:450px'
  - if @user.errors.any?
    .text-center
      %label(class="col-sm-offset-2  text-center alert-danger " style="margin:20px auto auto auto;height:20px;width:450px")
        =@user.errors.full_messages.first
  .text-center
    =u.submit :'添加确认',:class =>'btn btn-default',:style =>'margin:20px auto auto auto ;width:150px'