=form_for(@user,:url=>'forgot1') do |u|
  .form-group(style="width:600px;padding:50px 50px 50px 50px;width:50% ;margin:auto auto")
    %h4
      重置密码
    %div(class="col-sm-offset-2 col-sm-10 text-right" style="font-size:12px" )
      =link_to "用户登录",index_path
  .input-group(style="margin:auto" )
    =u.label :'帐号',:class =>'input-group-addon text-center',:style =>'width:120px'
    =u.text_field :name,:class =>'form-control',:style =>'width:450px',:placeholder=>'请输入帐号'
  -if flash[:error]
    .text-center(class="col-sm-offset-2  text-center alert-danger " style="margin:20px auto auto auto;height:20px;width:450px")
      =flash[:error]
  .text-center
    =u.submit :'下一步',:class =>'btn btn-default',:style =>'margin:20px auto auto auto ;width:150px'