=render :partial => "layouts/crubs_nav",:locals => {:field=>nil}
%fieldset(style="margin:50px 50px")
  %legend
    活动信息
    =render :partial => "show_activity"
=render :partial => 'layouts/will_paginate',:locals => {:array=>@activities}

